@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Play:wght@400;700&family=Ruslan+Display&display=swap');

a {
  text-decoration: none;
}

.flex-box {
  display: flex;
}

.f-dir-col {
  flex-direction: column;
}

.BackToHomeBtn {
  left: 70px;
  top: 47px;
  position: absolute;
  opacity: 0.1;
  z-index: 111;
  transition: all ease-in-out .3s;
  &:hover {
    opacity: 1;
  }
}

#Main-page {
  box-sizing: border-box;
  font-family: 'Jura', sans-serif;

  header {
    .header-title {
      font-weight: bold;
      color: white;
      padding: 10px 20px;
    }
    #start-ring {
      position: absolute;
      background-image: url(images/start-btn.svg);
      background-repeat: no-repeat;
      background-size: contain;
      width: 40px;
      height: 40px;
      top: 12px;
      left: 166px;
      animation: 5s linear infinite rotation;
    }
    @keyframes rotation {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  }
  main {
    max-width: 1024px;
    position: relative;
    padding: 100px 30px 50px;
    margin: 0 auto;
    .components-menu {
      display: flex;
      justify-content: space-around;

      flex-wrap: wrap;
      gap: 3vw 0;
      a {
        display: block;
      }
      .component-icon {
        width: 300px;
        border: 3px solid #b1b1b126;;
        box-shadow: none;
        transition:all ease-in-out .1s;
        &:hover {
          box-shadow: 0px 2px 8px 5px rgba(0, 0, 0, 0.25);
          transform: scale3d(1.02,1.02, 1.02);
        }
      }
    }
  }


}

