@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import './vars.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //font-family: 'Quicksand', sans-serif;
}
.container {
  width: 100%;
}
h1 {
  margin: 0;
}

.header-bg {
  background: $dark;
  &--light {
    background: $light;
  }
  &--green {
    background: $green;
  }
  &--gradient {
    background: linear-gradient(106.01deg, rgba(0, 0, 0, 0.91) 9.82%, rgba(11, 57, 79, 0.9) 51.26%, rgba(9, 86, 122, 0.86) 71.74%, rgba(6, 113, 163, 0.82) 100%);
  }
  .main-title {
    font-size: 80px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
}

